<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

 <ion-content class="page">
    <div class="featured">Featured</div>
    <div class="line"></div>
    <div style="color: white; margin: 0 0 5px 10px">Popular</div>
    <div class="popular">
      <div class="p" *ngFor="let p of popular">
      </div>
    </div>
    <div class="line"></div>
    <div class="categories">
      <div *ngFor="let c of categories" class="c">
        {{c.name}}
      </div>
    </div>
  </ion-content>
