page-home {
    .featured{
        width: 95%;
        height: 15%;
        background-color: white;
        margin: auto;
        margin-top: 10px;
        border-radius: 10px;
    }
    .popular{
        display: flex;
        height: 13%;
    }
    .p{
        width: 30%;
        height: 100%;
        background-color: white;
        margin: auto;
    }
    .line{
        height: 1px;
        width: 90%;
        background-color: lightgrey;
        margin: auto;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .categories{
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
    }
    .c{
        width: 45vw;
        height: 45vw;
        background-color: white;
        margin: auto;
        margin-top: 5px;
    }
}
